<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KryptoVstupenky"
        tools:targetApi="35">

        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Material3.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".KeyManagementActivity"
            android:exported="false"
            android:label="KeyManagementActivity"
            android:theme="@style/Theme.Material3.Dark">
        </activity>

        <activity
            android:name=".KeyImportScannerActivity"
            android:exported="false"
            android:label="KeyImportScannerActivity"
            android:theme="@style/Theme.Material3.Dark">
        </activity>

        <activity
            android:name=".TicketScannerActivity"
            android:exported="false"
            android:label="TicketScannerActivity"
            android:theme="@style/Theme.Material3.Dark">
        </activity>

        <activity
            android:name=".TicketResult"
            android:exported="false"
            android:label="TicketResult"
            android:theme="@style/Theme.Material3.Dark">
        </activity>

        <activity
            android:name=".TicketGenerationActivity"
            android:exported="false"
            android:label="TicketGenerationActivity"
            android:theme="@style/Theme.Material3.Dark">
        </activity>

        <activity
            android:name=".QRCodeDisplayActivity"
            android:exported="false"
            android:label="QRCodeDisplayActivity"
            android:theme="@style/Theme.Material3.Dark">
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.sharefileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/share_file_paths" />
        </provider>

    </application>

</manifest>